li {
  list-style-type: circle;
  padding-bottom: 0.25rem;
  font-size: 2rem;
}
.divLi {
  display: flex;
  justify-content: space-between;
}
.delete {
  background-color: var(--rojo);
  text-align: right;
  border-radius: 0.5rem;
  padding: 0.4rem;
  margin-left: 2rem;
}

img {
  width: 50px;
  height: 50px;
}
